<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product
		Id="*"
		Name="PuTTY Launcher"
		Language="1033"
		Version="1.4"
		Manufacturer="Steve Ives"
		UpgradeCode="09901f1e-7051-468b-be77-b3567f29c191">

		<Package
			InstallerVersion="200"
			Compressed="yes"
			InstallScope="perMachine"
			Platform="x64" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<MediaTemplate EmbedCab="yes" />

		<!-- ************************************************************************************************************* -->
		<!-- Setting these properties causes these URL's to be displayed when the application is selected in "Programs and Features"-->

		<Property Id="ARPHELPLINK"      Value="https://github.com/SteveIves/PuTTYLauncher" />
		<Property Id="ARPURLINFOABOUT"  Value="https://github.com/SteveIves/PuTTYLauncher" />
		<Property Id="ARPURLUPDATEINFO" Value="https://github.com/SteveIves/PuTTYLauncher/releases/latest" />

		<!-- ************************************************************************************************************* -->

		<!-- ************************************************************************************************************* -->
		<!-- Set the icon to be used in "Programs & Features" -->

		<Icon Id="PuTTYLauncherIcon" SourceFile="..\PuTTYLauncher\PuTTYLauncher.ico"/>
		<Property Id="ARPPRODUCTICON" Value="PuTTYLauncherIcon" />

		<!-- ************************************************************************************************************* -->

		<!-- Define the license agreement file -->
		<WixVariable Id="WixUILicenseRtf" Value="..\license.rtf" />

		<UI>
			<UIRef Id="WixUI_PuTTYLauncher"/>
		</UI>

		<!-- ************************************************************************************************************* -->
		<!-- Directory structure -->

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="PuTTYLauncher" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="PuTTYLauncherProgramMenuFolder" Name="PuTTY Launcher" />
			</Directory>
		</Directory>

		<!-- ************************************************************************************************************* -->
		<!-- ComponentGroup and components -->

		<ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">

			<!-- appsettings.json -->
			<Component Id="file_appsettings.json" Guid="*" Win64="yes">
				<File Id="file_appsettings.json" Source="..\PuTTYLauncher\bin\Release\net10.0-windows\publish\win-x64\appsettings.json" Checksum="yes" />
			</Component>

			<!-- PuTTYLauncher.exe -->
			<Component Id="file_PuTTYLauncher.exe" Guid="*" Win64="yes">
				<File Id="file_PuTTYLauncher.exe" Source="..\PuTTYLauncher\bin\Release\net10.0-windows\publish\win-x64\PuTTYLauncher.exe" Checksum="yes" />
			</Component>

			<!-- PuTTYLauncher.pdb -->
			<Component Id="file_PuTTYLauncher.pdb" Guid="*" Win64="yes">
				<File Id="file_PuTTYLauncher.pdb" Source="..\PuTTYLauncher\bin\Release\net10.0-windows\publish\win-x64\PuTTYLauncher.pdb" Checksum="yes" />
			</Component>

		</ComponentGroup>

		<!-- Shortcuts -->

		<Component Id="ShortcutComponent" Guid="*" Directory="PuTTYLauncherProgramMenuFolder">
			<Shortcut Id="PuTTYLauncherShortcut"
					  Name="PuTTY Launcher"
					  Description="Launch PuTTY Launcher"
					  Target="[INSTALLFOLDER]PuTTYLauncher.exe"
					  WorkingDirectory="INSTALLFOLDER" />
			<!-- Ensure directory removal on uninstall -->
			<RemoveFolder Id="RemovePuTTYLauncherProgramMenuFolder"
						  Directory="PuTTYLauncherProgramMenuFolder"
						  On="uninstall"/>
			<!-- Registry key to avoid ICE43 error -->
			<RegistryValue Root="HKCU" Key="Software\PuTTYLauncher" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
			<!-- Remove shortcut on uninstall -->
			<RemoveFile Id="RemovePuTTYLauncherShortcut"
						Name="PuTTY Launcher.lnk"
						Directory="PuTTYLauncherProgramMenuFolder"
						On="uninstall"/>
		</Component>

		<!-- ************************************************************************************************************* -->
		<!-- Main product feature -->

		<Feature Id="ProductFeature" Title="PuTTYLauncherSetup" Level="1">
			<ComponentGroupRef Id="AppComponents"/>
			<ComponentRef Id="ShortcutComponent"/>
		</Feature>

	</Product>

</Wix>
